

 <!-- <footer>
    <div>
        <img src="../assets/Icons/facebook.png" alt="">
        <img src="../assets/Icons/instagram.png" alt="">
        <img src="../assets/Icons/twitter.png" alt="">
        <img src="../assets/Icons/youtube.png" alt=""> 
    </div>
    <div>
    <ul>
        <li>Audiodescripción</li>
        <li>Inversores</li>
        <li>Aviso legales</li>
    </ul>
    <ul>
        <li>Centro de ayuda</li>
        <li>Empleo</li>
        <li>Preferencias de cookies</li>
    </ul>
    <ul>
        <li>Tarjetas regalo</li>
        <li>Terminos de uso</li>
        <li>Información corpotariva</li>
    </ul>
    <ul>
        <li>Zona de prensa</li>
        <li>Privacidad</li>
        <li>Contáctanos</li>
    </ul>
    <button>Código de servicio</button> 
     <span> 1997 - 2023 Netflix</span> 
</footer>   -->
