<nav>
    <div>
        <img class="logo"  src="../assets/LOGO/logo.png" alt="logo">
     </div>
     <div>
        <ul>
            <li><img class="buscador" src="../assets/Icons/zoom-32.png" alt="buscador"></li>
            <input type="text" placeholder="search">
            <li><img class="notificacion" src="../assets/Icons/bell-3-32.png" alt="campana"></li>
            <!-- <li><img class="idioma" src="../assets/Icons/icons8-geografía-50.png" alt="idioma"></li> -->
        </ul>
    </div>    
</nav>
